#page-content {
    height: 100vh;
}
#mapContainer {
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
}
input[type="color"] {
    min-height: 2.4rem;
}
#fogCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}